/*** Whole Document Styling ***/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*** Getting footer to stick to bottom ***/

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    flex: 1;
}

/*** Header styling ***/

.header {
    background-color: #5F8575;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-logo {
    font-weight: 900;
    font-size: 24px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 50px; 
}

.links li a {
    text-decoration: none;
    color: #ffffff;
}

.links li a:hover {
    color: #bfdcd0;
}

/*** Hero Styling ***/

.hero {
    background-color: #5F8575;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hero-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    height: auto;
    width: 400px;
}

.hero-img {
    height: 200px;
    width: auto;
    display: flex;
    flex-direction: row;
}

.hero-button {
    background-color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    align-self: flex-start;
}

.hero-button:hover {
    cursor: pointer;
}

.hero-button:active {
    background-color: lightgray;
    transform: translateY(4px);
}

/*** Services Styling ***/
.services {
    background-color: #bdd3ca;
    color: white;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.service-h2 {
    margin-bottom: 30px;
}

.service-types {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.service-img {
    height: 200px;
    width: auto;
    display: flex;
    flex-direction: row;
}

.service-p {
    margin-top: 20px;
}

/*** Quote Styling ***/
.quote {
    background-color: #9daba5;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 200px 350px;
}

.quote-p {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    text-align: left; 
}

.author {
    font-weight: bold;
    font-size: 26px;
    align-self: flex-end;
}

/*** Sign Up Styling ***/
.sign-up {
    background-color: #bdd3ca;
    color: white;
}


/*** Footer styling ***/
.footer {
    background-color: #5F8575;
    color: #ffffff;
    padding: 20px;
    font-size: smaller;
    text-align: center;
}


.sections {
    padding: 20px 120px;
}